/* .searchInput {
  border-color: brown;
}
.searchInput:hover {
  border-color: brown;
} */

/* .searchInput:active,
.searchInput:focus {
  border-top: 0.5px solid blue;
  border-left: 0.5px solid blue;
  border-bottom: 2.5px solid blue;
  border-right: 1.5px solid blue;
} */
